* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Euclid Circular A', sans-serif;
  transition: all 0.3s;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-white-color);
  color: var(--main-font-color);
}

a {
  text-decoration: none;
}

button,
button:hover,
button:focus,
button:active {
  border: 0;
  outline: 0;
  cursor: pointer;
}

.btn_primary {
  background-color: var(--main-blue-color);
  color: var(--main-white-color);
  width: 199px;
  height: 52px;
  border-radius: 12px;
  position: relative;
  font-size: 18px;
}

.btn_text {
  z-index: 1;
}

.btn_primary:before {
  background-color: var(--main-white-color);
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  transform-origin: left;
  transform: scaleX(0);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.btn_primary:hover .btn_text {
  color: var(--main-blue-color);
}

.btn_primary:hover:before {
  transform: scaleX(1);
}

.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: var(--container-max-width);
  padding: 0 var(--container-padding);
}

section {
  min-height: 400px;
}
